@media all and (min-width: 1419px) {
    #searchinput { width: 40%; !important;}
    #profilelink {margin-left: -50%; !important;}
    #loginlink {margin-left: -105%; !important;}

    #newseditTitleHead { text-align: center; margin-left: 0%;}
    #blogdescription { margin-left: -0%; margin-right: -0%;}
}

@media all and (min-width: 768px) and (max-width:1418px) {
    .table-responsive:not(#header) th {    display: table;  width:100%;    }
    .table-responsive:not(#header) td {    display: table-row; }
    #searchbar { text-align: right;}
    #searchinput { display: inline; width: 40%; !important;}
    #profilelink {margin-left: 25%; !important;}
    #loginlink {margin-left: 55%; !important;}

    img {max-width:100%; height:100%;}
    iframe {max-width:100%; height:100%;}
    #searchbar { margin-left: 0%; text-align: center;}
    #searchinput { display: inline; margin-left: 0%; text-align: center; }

    #newseditTitleHead { text-align: center; margin-left: 0%;}
    #blogdescription { margin-left: -23%; margin-right: -23%;}

}

@media all and (max-width:767px) {
    .table-responsive th {    display: table;  width:50%;    }
    .table-responsive td {    display: table-row; }
    .blogImg {max-width:450px; height:200px;}
    #searchbar { text-align: center;}
    #searchth {    display: inline;}
    #searchinput { width: 75%; !important;}
    #profilelink {margin-left: -5%; !important;}
    #loginlink {margin-left: -5%; !important;}

    #titleline { display: none;}
    #head { margin-left: 17% !important; }
    #newseditTitleHead { text-align: left; margin-left: 10%;}
    #blogdescription { margin-left: -23%; margin-right: -23%;}
    #searchbar { text-align: center; margin-left: 0%; }
    #searchinput { width: 75%; !important; margin-left: 0%;}
    img {max-width:100%; height:100%;}
    iframe {max-width:100%; height:100%;}

}