.table-responsive:not(#header) th {    display: table;  width:100%;    }
.table-responsive:not(#header) td {    display: table-row; }
#searchbar { margin-left: 0%; text-align: center; box-shadow: 1px 1px 1px #C2C2C2;}
#searchinput { display: inline; margin-left: 0%; text-align: center; }
#searchinput { width: 75%; !important;}
#profilelink {margin-left: 25%; !important;}
#loginlink {margin-left: 55%; !important;}
.blogImg {max-width: 250%; !important; max-height: 100% !important;}

#profilebox {display: none;}
#blogsfeed {margin-left: -5%; !important;}

#navbar_desktop {display: none;}
#navbar_mobile {display: inline;}
/*#footer_bottom {bottom: -105vh;}*/
#storyblogs_table { width:205%; }
.bubble {display: none !important;}
#titleline {margin-top: 12%;}