.table-responsive:not(#header) th {    display: table;  width:100%;    }
.table-responsive:not(#header) td {    display: table-row; }
#searchbar { text-align: right;}
#searchinput { display: inline; width: 40%; !important;}
#searchinput { width: 75%; !important;}
#profilelink {margin-left: 25%; !important;}
#loginlink {margin-left: 55%; !important;}

img {max-width:100%;}
iframe {max-width:100%;}
#searchbar { margin-left: 0%; text-align: center;}
#searchinput { display: inline; margin-left: 0%; text-align: center; }

#newseditTitleHead { text-align: center; margin-left: 0%;}
/*#blogdescription { margin-left: -23%; margin-right: -23%;}*/
#navbar_desktop {display: none;}
#navbar_mobile {display: inline;}
#footer_margin {margin-left: -21.5%}
#footer_margin0 {margin-left: -19%}
