.table-responsive th {    display: table;  width:50%;    }
.table-responsive td {    display: table-row; }
.blogImg {max-width: 400px;}
#searchbar { text-align: center;}
#searchth {    display: inline;}
#searchinput { width: 75%; !important;}
#profilelink {margin-left: -5%; !important;}
#loginlink {margin-left: -5%; !important;}

#titleline { display: none;}
#head { margin-left: 17% !important; }
#newseditTitleHead { text-align: left; margin-left: 10%;}
#blogdescription { margin-left: -23%; margin-right: -23%;}
#searchbar { text-align: center; margin-left: 0%; }
#searchinput { width: 75%; !important; margin-left: 0%;}
img {max-width:100%; height:100%;}
iframe {max-width:100%; height:100%;}

#descr_img {max-height: 200px !important; width: auto;}