.table-responsive:not(#header) th {    display: table;  width:100%;    }
/*.table-responsive:not(#header) td {    display: table-row; }*/

#searchbar { text-align: right; box-shadow: 1px 1px 1px #C2C2C2;}
#searchinput { display: inline; width: 40%; !important;}
#searchinput { width: 75%; !important;}
#profilelink {margin-left: 25%; !important;}
#loginlink {margin-left: 55%; !important;}

img {max-width:100%;}
iframe {max-width:100%;}
#searchbar { margin-left: 0%; text-align: center;}
#searchinput { display: inline; margin-left: 0%; text-align: center; }

#newseditTitleHead { text-align: center; margin-left: 0%;}
/*#blogdescription { margin-left: -23%; margin-right: -23%;}*/
#navbar_desktop {display: none;}
#navbar_mobile {display: inline;}
#footer_margin {margin-left: -21.5%}
#footer_margin0 {margin-left: -19%}

#more_blogs_table:not(#header) th {    display: table;  width:100%; margin-bottom: 10%;    }

/*--ABOUT THE AUTHOR--*/
#description_author {margin-left: 150%;}
#name_author {margin-left: 5%; margin-top: 2%; margin-right: 40%;}
#title_author {margin-left: 5%; padding-top: 5%; margin-top: -5%}
#bio_author {margin-left: -60%; padding-top: 5%; margin-right: 45%; margin-top: 17%;}

.profimg_wrap {
    max-width: 400px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
