@media all and (min-width: 1419px) {
    #searchinput { width: 40%; !important;}
    #profilelink {margin-left: -50%; !important;}
    #loginlink {margin-left: -105%; !important;}

    #covertitle {margin-left: 11.5% !important;}
    #newblogbtn {margin-left: 11.5% !important;}
    #blogsfeed {margin-left: 15%; !important; margin-right: -10%;}
    .blogImg {width: 600px !important; padding-right: 0% !important}
}

@media all and (min-width: 768px) and (max-width:1418px) {
    .table-responsive:not(#header) th {    display: table;  width:100%;    }
    .table-responsive:not(#header) td {    display: table-row; }
    #searchbar { text-align: right;}
    #searchinput { display: inline; width: 40%; !important;}
    #profilelink {margin-left: 25%; !important;}
    #loginlink {margin-left: 55%; !important;}

    #profilebox {display: none;}
    #blogsfeed {margin-left: -5%; !important;}
}

@media all and (max-width:767px) {
    .table-responsive th {    display: table;  width:50%;    }
    .table-responsive td {    display: table-row; }
    .blogImg {max-width:450px; height:200px;}
    #searchbar { text-align: center;}
    #searchth {    display: inline;}
    #searchinput { width: 75%; !important;}
    #profilelink {margin-left: -5%; !important;}
    #loginlink {margin-left: -5%; !important;}

    #profilebox {display: none;}
    #blogsfeed {margin-left: -5%; !important;}
    .formatted_description {width: 125%;}
}